[submodule "LiveSplit/Components/LiveSplit.SumOfBest"]
	path = components/LiveSplit.SumOfBest
	url = https://github.com/LiveSplit/LiveSplit.SumOfBest.git
	branch = master
[submodule "LiveSplit/Components/LiveSplit.Text"]
	path = components/LiveSplit.Text
	url = https://github.com/LiveSplit/LiveSplit.Text.git
	branch = master
[submodule "LiveSplit/Components/LiveSplit.Timer"]
	path = components/LiveSplit.Timer
	url = https://github.com/LiveSplit/LiveSplit.Timer.git
	branch = master
[submodule "LiveSplit/Components/LiveSplit.Title"]
	path = components/LiveSplit.Title
	url = https://github.com/LiveSplit/LiveSplit.Title.git
	branch = master
[submodule "LiveSplit/Components/LiveSplit.Video"]
	path = components/LiveSplit.Video
	url = https://github.com/LiveSplit/LiveSplit.Video.git
	branch = master
[submodule "LiveSplit/Components/LiveSplit.WorldRecord"]
	path = components/LiveSplit.WorldRecord
	url = https://github.com/LiveSplit/LiveSplit.WorldRecord.git
[submodule "LiveSplit/Libs/SpeedrunComSharp"]
	path = lib/SpeedrunComSharp
	url = https://github.com/LiveSplit/SpeedrunComSharp.git
[submodule "LiveSplit/Components/LiveSplit.TotalPlaytime"]
	path = components/LiveSplit.TotalPlaytime
	url = https://github.com/LiveSplit/LiveSplit.TotalPlaytime.git
[submodule "LiveSplit/Libs/livesplit-core"]
	path = lib/livesplit-core
	url = https://github.com/LiveSplit/livesplit-core.git
[submodule "LiveSplit/Components/LiveSplit.TheRun"]
	path = components/LiveSplit.TheRun
	url = https://github.com/therungg/LiveSplit.TheRun
