# IDE options/cache directories
.vs/
.vscode/
.idea/
.fleet/

# Build artifacts
bin/
obj/
publish/

# User-specific files
*.user

# MSBuild
*.binlog

# LiveSplit
GitInfo/

**/x64/target/
**/x86/target/

# Operating System Files
# =========================

# OSX
.DS_Store
.AppleDouble
.LSOverride
