[submodule "LiveSplit/Components/LiveSplit.Video"]
	path = components/LiveSplit.Video
	url = https://github.com/LiveSplit/LiveSplit.Video.git
	branch = master
[submodule "LiveSplit/Components/LiveSplit.WorldRecord"]
	path = components/LiveSplit.WorldRecord
	url = https://github.com/LiveSplit/LiveSplit.WorldRecord.git
[submodule "LiveSplit/Libs/SpeedrunComSharp"]
	path = lib/SpeedrunComSharp
	url = https://github.com/LiveSplit/SpeedrunComSharp.git
[submodule "LiveSplit/Libs/livesplit-core"]
	path = lib/livesplit-core
	url = https://github.com/LiveSplit/livesplit-core.git
