<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LiveSplit.Web.Share.ShareSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveSplit.Web.Share.ShareSettings>
            <setting name="TwitterOAuthToken" serializeAs="String">
                <value/>
            </setting>
            <setting name="TwitterAccessToken" serializeAs="String">
                <value/>
            </setting>
            <setting name="TwitchAccessToken" serializeAs="String">
                <value/>
            </setting>
            <setting name="TwitterFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="TwitchFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="TwitterFormatRunning" serializeAs="String">
                <value/>
            </setting>
            <setting name="SRLIRCUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="SRLIRCPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SpeedrunComAccessToken" serializeAs="String">
                <value/>
            </setting>
        </LiveSplit.Web.Share.ShareSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
