name: CI

on:
  pull_request:
  push:
    branches:
      - 'master'
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout LiveSplit
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Fetch history
        run: git fetch --prune --unshallow --no-recurse-submodules

      - name: Checkout head_ref
        if: ${{ github.head_ref != '' }}
        run: git checkout -b ${{ github.head_ref }} || git checkout ${{ github.head_ref }}

      - name: Set up .NET environment
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build LiveSplit
        run: >
          dotnet build
          -v m
          -c Release
          -nowarn:'$(NoWarn);CS1587;CS1591'
          -p:PlatformTarget=x64
          -p:GenerateDocumentationFile=false
          -p:DebugType=None
          .\LiveSplit\LiveSplit.sln

      - name: Run tests
        run: >
          dotnet test
          -v m
          -c Release
          --no-restore --no-build
          .\LiveSplit\LiveSplit.sln

      - name: Clean up build folder
        run: |
          mkdir .\LiveSplit\bin\Release\Resources
          cp .\LiveSplit\Resources\SplitsFile.ico .\LiveSplit\bin\Release\Resources
          cp .\LiveSplit\Resources\LayoutFile.ico .\LiveSplit\bin\Release\Resources
          rm .\LiveSplit\bin\Release\Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll
          rm .\LiveSplit\bin\Release\Microsoft.WindowsAPICodePack.Sensors.dll
          rm .\LiveSplit\bin\Release\Microsoft.WindowsAPICodePack.ShellExtensions.dll

      - name: Upload build as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: LiveSplit_Build
          path: .\LiveSplit\bin\Release

      - name: Upload build to LiveSplit.github.io
        if: github.repository == 'LiveSplit/LiveSplit' && github.ref == 'refs/heads/master'
        run: |
          7z a LiveSplitDevBuild.zip .\LiveSplit\bin\Release\*
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git clone -q --branch master --single-branch "https://github.com/LiveSplit/LiveSplit.github.io.git"
          cd LiveSplit.github.io
          git checkout -q --orphan artifacts
          git reset
          mv ../LiveSplitDevBuild.zip . -force
          git add LiveSplitDevBuild.zip
          git commit -m "Add Development Build"
          git push -q --force https://action:${{ secrets.DEV_BUILD_UPLOAD }}@github.com/LiveSplit/LiveSplit.github.io.git
